
.main {
  background-image: url(../../public/assets/background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  text-align: center;
  align-items: center;
  justify-content: space-between;

  &__text {
    // margin-top: 0rem;
    // margin-bottom: 1rem;
    position: absolute;
    top:30px;
    left: 40px;

    padding: 0.5rem;
    font-size: 5rem;
    color: #ffff
  }

  &__input {
      width: 35rem;
      //margin: 0.5rem 0;
      padding: 0.5rem;
      border-radius: 0.5rem;
      border: 2px solid rgb(29, 17, 3);
      background-color: rgb(255, 255, 255, 0.5);
      outline: none;
      transition: 0.2s box-shadow, 0.2s background-color;
      font-size: 5rem;

      // &:hover {
      //     background-color: rgb(255, 255, 255, 0.75);
      // }
      &:focus {
          background-color: white;
      }

      position: absolute;
      top:230px;
      left: 40px;
  }
  &__start-button {
      // margin-top: 4rem;
      // margin-left: auto;
      width: 25%;
      padding: 0.5rem;
      border-radius: 1rem;
      font-size: 5rem;
      font-weight: 700;
      border: 2px solid rgb(29, 17, 3);
      background-color: rgb(255, 149, 10);
      color: white;
      cursor: pointer;
      transition: 0.2s background-color;

      &:hover, &:focus {
          background-color: rgb(235, 202, 15);
          outline: none;
      }

      position: absolute;
      top:400px;
      left: 140px;
  }
}